.link_hidden {
  display: none;
}

.text_hidden {
  width: 0;
}

.font_size {
  width: 0;

}

.justify_content {
  width: 0;

}

.link_shadow {
  width: 0;

}

.outline {
  width: 0;

}

.outline_color {
  width: 0;

}

.special_outlines {
  width: 0;

}

.link_layout {
  width: 0;

}

.animation_type {
  width: 0;
}
